/*钟摆**/
.pcircle{
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 0.1em solid pink;
    display: inline-block;
}
.pcircle::before{
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin-top: -0.1em;
    margin-left: -0.1em;
    border: 0.1em solid orange;
    display: inline-block;
    box-shadow: 0 0 0.5em 0.6em orange;
}