#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .green header a{
    color: #ffffff;
    text-decoration: underline;
  }
  .green header, .green footer, .green input[type=button]{
    background-color: #42b983;
  }
  .green input[type=button]:hover{
    background-color: #62b983;
  }
  
  .gray a{
    color: #42b983;
  }
  .gray header, .gray footer, .gray input[type=button]{
    background-color: #607D8B;
  }
  .gray input[type=button]:hover{
    background-color: #807D8B;
  }

  .purple a{
    color: #ff0000;
  }
  .purple header, .purple footer, .purple input[type=button]{
    background-color: #673ab7;
  }
  .purple input[type=button]:hover{
    background-color: #873ab7;
  }

  header,footer{
    color: #fff;
    width: 100%;
  }
  .head_left, .head_right{
    display: inline-block;
    width: 50%;
  }
  .foot{
    display: inline-block;
  }
  .GitHub{
    display: block;
    fill: currentColor;
    color: #fff;
  }
  .GitHub:hover{
      opacity: 0.6;
    }
  .Zorro .center{
    padding: 1em;
    display: inline-block;
    width: 200px;
    color: #666;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  .email{
    color: #42b983;
  }